@import "./fonts/PTRootUI/font.scss";
@import "./fonts/BebasNeue/font.scss";
@import "./fonts/Rubik/font.scss";
@import "src/app/styles/fonts/PTRootUI/mixin";

@import "./theme.scss";

@import "./page.scss";
@import "./modal.scss";

:root {
  font-size: 62.5%;
}

body {
  @include font-family-ptrootui;
  font-weight: 500;
  line-height: 1.3;
  text-rendering: optimizeSpeed;

  font-size: 1.6rem;

  height: 100vh;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  border: none;
  font-family: inherit;
}
