:root {
  --primary: #fd4d35;
  --accent: #01b9c5;
  --text-halftone: #95979f;
  --text-gray: #687078;
  --link: #2d97f9;
  --text: #2d3242;
  --text2: #818798;
  --white: #ffffff;
  --accent-transparent: rgba(1, 185, 197, 0.05);
  --background: #f5f7f7;
  --gray-transparent: #d3d6dd;
  --icon: #2f4353;
  --linear: linear-gradient(0%, rgba(245, 247, 247, 0), 100%, rgba(245, 247, 247, 1));
}
