@use "../../index.scss";

.cart {
  $cart: &;
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: flex-end;
  background: #fff;

  @media screen and (max-width: index.$sm-tablet-width) {
    position: fixed;
    width: 100vw;
    bottom: calc(-50% + 30px);
    left: 0%;
    box-shadow: 0px -10px 8px 0px rgba(0, 0, 0, 0.2);

    &-header {
      align-self: center;
      cursor: pointer;
    }

    &-active {
      bottom: 0%;
    }
  }

  & > *:not(&-header) {
    flex: 1 1;
  }

  &-header {
    display: flex;
    align-items: center;
    flex: 0 1;

    img {
      margin-left: 15px;
      width: 30px;
      height: 30px;
    }
  }

  &-list {
    padding: 0;

    @media screen and (max-width: index.$sm-tablet-width) {
      margin: 0 5%;
    }
  }
  &-item {
    .main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;

      h3 {
        margin: 0;
      }
    }

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 7px;
    margin: 20px 0;

    .price {
      display: flex;
      align-items: center;
      margin-top: 7px;

      & > * {
        margin-right: 5px;
        font-size: 24px;
      }
    }

    img {
      cursor: pointer;
      width: 13px;
      height: 13px;
      margin: 0 60px;
    }

    @media screen and (max-width: index.$laptop-width) {
      img {
        margin: 0 30px;
      }
    }
  }

  & > .helper-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-total {
    margin: 0 10%;
    display: flex;
    align-items: flex-end;

    & > .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid rgba(128, 128, 128, 0.5);

      @media screen and (max-width: index.$sm-tablet-width) {
        margin-bottom: 10px;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .button {
      font-size: 24px;
      padding: 6px 60px;
    }
  }
}
