@import "styles/breakpoints.scss";

.wrapper {
  width: 100%;
  height: 100%;
  z-index: 0 !important;

  & > * > * {
    position: absolute;
    z-index: 0;
  }
}

.pc {
  @media screen and (max-width: $breakpoint-min-phone) {
    display: none;
  }

  &RedLight {
    border-radius: 50%;
    width: 311px;
    height: 311px;
    left: -18%;
    top: 25.6%;

    background: #961a1a;
    opacity: 0.5;
    -webkit-filter: blur(196px);
    filter: blur(196px);
  }
  &PurpleLight {
    border-radius: 50%;
    width: 259px;
    height: 259px;
    left: 41.8%;
    top: -15.7%;

    background: #833ab4;
    opacity: 0.5;
    -webkit-filter: blur(196px);
    filter: blur(196px);
  }

  &RedBall1 {
    border-radius: 50%;
    width: 83px;
    height: 83px;
    left: 33.8%;
    top: 83px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }
  &RedBall2 {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    left: 60.5%;
    top: 55.8%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
  &PurpleBall {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 62%;
    top: -0.2%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }
}

.mobile {
  @media screen and (min-width: $breakpoint-min-phone) {
    display: none;
  }

  &Noise {
    opacity: 0.15;
    background-repeat: repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
  }

  &PurpleLight {
    border-radius: 50%;
    position: absolute;
    width: 259px;
    height: 259px;
    left: 258px;
    top: 162px;

    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
  }

  &RedLight {
    border-radius: 50%;
    position: absolute;
    width: 211px;
    height: 210px;
    left: -55px;
    top: 296px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }

  &YellowLight {
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    left: -66px;
    top: 574px;

    background: #fcb045;
    opacity: 0.4;
    filter: blur(196px);
  }

  &Glass {
    position: absolute;
    width: 100%;
    // height: 445px;
    height: 100%;
    left: 0px;
    top: 0px;

    background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
    backdrop-filter: blur(7.5px);
  }

  &RedBall1 {
    border-radius: 50%;
    position: absolute;
    width: 43px;
    height: 43px;
    left: 29px;
    top: 457px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  &YellowBall1 {
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 46px;
    top: 684px;

    background: radial-gradient(84.78% 84.78% at 0% 11.96%, rgba(255, 233, 203, 0.568) 0%, rgba(184, 131, 18, 0.448) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -4px 4px 7px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2.5px);

    transform: matrix(0, 1, 1, 0, 0, 0);
  }

  &PurpleBall1 {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 296px;
    top: 292px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  &RedBall2 {
    border-radius: 50%;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 278px;
    top: 619px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
}
