@use "../../styles/colors.scss";

.button {
  &Default {
    background-color: colors.$secondary;
    border-radius: 24px;
    color: colors.$primary;
    font-weight: 700;
    padding: 0.8em 1em;
  }

  &AsLink {
    background-color: transparent;
    text-decoration: underline;
  }
}
