@use "../colors.scss";

.container {
  width: calc(50% - 8em);
  margin: 0 auto;
  padding: 2em 4em;

  border-radius: 10px;
  border: 2px solid colors.$secondary;

  .header {
    font-weight: bolder;
    text-align: center;
    margin: 0;
  }

  .status {
    margin: 0.3em;
    text-align: center;

    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .active {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: 700;
    border-radius: 0.3em;
  }
}
