@use "../../../styles/utils/colors.module.scss";

.input {
  &Component {
    border-radius: 10px;
    border: 1px solid colors.$gray;
    color: colors.$font;
    font-weight: 700;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 11px 12px;

    &::placeholder {
      color: colors.$gray;
      font-weight: 700;
    }

    &[type="date"] {
      position: relative;
      padding-left: 35px;
      line-height: 15px;
    }

    &[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      // width: 16px;
      // height: 16px;

      background: url("/static/icons/calendar2.svg");
      object-fit: cover;
      object-position: center;
      background-repeat: no-repeat;
      cursor: pointer;

      position: absolute;
      top: 50%;
      left: 12px;

      transform: translate(0, -50%);
    }
  }

  &Label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    color: colors.$font;
    font-size: 11px;

    min-width: 140px;

    &Content {
      position: absolute;
      top: -50%;
      left: 0;
      transform: translate(0, 50%);
      color: inherit;
    }

    &:focus-within {
      color: colors.$primary;

      .inputComponent {
        outline: none;
        border: 1px solid colors.$primary;

        box-shadow: 0px 0px 2px rgba(92, 135, 219, 0.5);

        &[type="date"]::-webkit-calendar-picker-indicator {
          background: url("/static/icons/calendar1.svg");
          object-fit: cover;
          object-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }
}
