@font-face {
  font-family: "Museo100";
  src: url("MuseoSansCyrl-100.eot"), url("MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo300";
  src: url("MuseoSansCyrl-300.eot"), url("MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo700";
  src: url("MuseoSansCyrl-700.eot"), url("MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
