$light-text: #e4e5ea;
$dark-gray: #656566;
$black: #0e1014;

@mixin bg-gradient() {
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
