@use "../../../styles/colors.scss";

.todoElement {
  width: 100%;

  margin: 10px 0;
  padding: 1em;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid colors.$secondary;

  &:hover {
    border: 2px solid colors.$secondary;
    padding: calc(1em - 1px);
  }

  .dragZone {
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 20px;
    aspect-ratio: 2/1;

    margin-right: 1em;

    & > * {
      background-color: darken($color: colors.$primary, $amount: 15%);
      width: 100%;
      height: 10%;
      border-radius: 0.1em;
      animation: 5s opactiyBlink ease-in-out infinite;
    }
  }

  .todoContent {
    header {
      display: flex;
      align-items: center;

      .title {
        word-break: break-all;
        line-height: 1em;
        font-weight: 800;
        font-size: 1.3em;
        margin: 0;
      }

      input[type="checkbox"] {
        height: 1.7em;
        aspect-ratio: 1/1;
        margin-left: 0.7em;
        flex-shrink: 0;
      }
    }

    main {
      margin: 0.5em 0 0;
      word-break: break-all;
    }
  }
}
