@import "src/app/styles/breakpoints";
@import "src/app/styles/media";

@import "src/app/styles/fonts/PTRootUI/mixin";

.discount-header {
  position: absolute;
  width: calc(100vw - 2rem);

  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  padding: 0 1rem 0.42rem;
  padding-right: 5rem;

  &__title {
    @include font-family-ptrootui;
    font-weight: 700;
    font-size: 3rem;
    color: var(--text);

    margin: 0;
    padding-top: 0.1em;
  }
  .countdown-timer {
    .countdown-timer__time {
      padding-top: 0.5rem;
    }
  }

  @include media-maxw($md-custom) {
    margin: 0 auto;
    width: 100%;
    padding: 0.8rem 0;

    overflow: hidden;

    .discount-header__title {
      font-weight: 500;
      font-size: 1.6rem;
    }

    .countdown-timer {
      .countdown-timer__time {
        .timer__time {
          font-size: 4rem;
        }
        .timer__units {
          font-size: 1.4rem;
        }
      }
    }
  }
}
