@import "src/app/styles/breakpoints";
@import "src/app/styles/fonts/PTRootUI/mixin";

.discount-header {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding: 5px 0;

  &__title {
    @include font-family-ptrootui;
    font-weight: 700;
    font-size: 30px;
    color: var(--text);

    margin: 0;

    @media screen and (max-width: $xs) {
      //пока xs, для адатива, понятное дело, будет другая ширина
      font-weight: 500;
    }
  }

  // .countdown-timer
}
