@import "src/app/styles/breakpoints";
@import "src/app/styles/fonts/PTRootUI/mixin";

.discount-header {
  position: absolute;
  width: 100vw;

  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  padding: 0 1rem 0.42rem;
  // padding-right: 6.8rem;
  padding-right: 7rem;
  // padding-top: 0.1rem;

  &__title {
    @include font-family-ptrootui;
    font-weight: 700;
    font-size: 3rem;
    color: var(--text);

    margin: 0;
    padding-top: 0.1em;

    @media screen and (max-width: $xs) {
      //пока xs, для адатива, понятное дело, будет другая ширина
      font-weight: 500;
    }
  }
  .countdown-timer {
    .countdown-timer__time {
      padding-top: 0.5rem;
    }
  }

  // .countdown-timer
}
