@use "@/shared/breakpoints";

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  max-width: 80vw;
  padding: 24px;

  & > * {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
  }

  @media screen and (max-width: breakpoints.$xs) {
    padding: 12px;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  //   @include media-maxw(breakpoints.$md) {
  //     max-width: calc(100vw - 4rem);
  //     width: calc(100vw - 4rem);
  //   }
}
