@use "../colors.scss";

input[type="checkbox"] {
  cursor: pointer;

  z-index: 1;
  display: grid;
  place-content: center;

  appearance: none;
  background-color: colors.$primary;
  margin: 0;
  font: inherit;
  color: colors.$font;
  border: 2px solid colors.$font;

  &::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    display: none;
    transition: 0.05s transform ease-in-out;
    box-shadow: inset 1em 1em colors.$font;
    clip-path: polygon(40% 56%, 85% 3%, 100% 17%, 40% 88%, 4% 58%, 20% 40%);
  }
  &:checked::before {
    display: block;
    z-index: 1;
  }

  &:hover {
    border: 2px solid colors.$secondary;
    background-color: darken(colors.$primary, 10%);

    &::before {
      transition: all 100ms ease-in-out;
      box-shadow: inset 1em 1em colors.$secondary;
    }
  }

  &:focus {
    outline: 0.05em solid colors.$secondary;
    outline-offset: max(0px, 0px);
  }
}
