@use "./colors.module.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  transition: all 100ms ease-in-out;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
