.app {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  header {
    flex: 0 1;
  }

  main {
    margin-top: 10px;
    width: 98%;
    height: auto;
    flex: 1 1;
    max-height: 85vh;

    padding: 0 1%;

    display: flex;
    justify-content: space-between;
  }
}
