@import "src/app/styles/breakpoints";
@import "src/app/styles/media";

@import "src/app/styles/fonts/Rubik/mixin";
@import "src/app/styles/fonts/PTRootUI/mixin";

@import "src/entities/rate/ui/rate-card.scss";

.promo {
  padding: 2.8rem 0 10.7rem !important;

  max-width: $xl;

  &__wrapper {
    background-color: var(--background);
    width: 100vw;
    min-height: 100vh;
    padding-top: 8rem;

    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    column-gap: 8rem;
  }

  &__info {
    max-width: 59.1rem;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__title {
    @include font-family-rubik;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: calc(1em / 100);
    color: var(--text);
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    flex: 0 0 100%;
  }

  .image {
    height: 100%;
    object-fit: scale-down;
    object-position: top left;

    &__wrapper {
      //потому что img сам по себе void element
      flex: 1;
      display: inline-block;
      transform: translateX(2px);
    }

    &__effect {
      position: relative;

      &:has(span) {
        &::after {
          content: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 13.137rem;
        left: 50%;
        bottom: 0.4rem;
        transform: translateX(-50%);
        background: linear-gradient(0deg, rgba(var(--background-rgb), 1) 0%, rgba(var(--background-rgb), 0) 100%);
      }

      // span + *::after {
      //   content: none;
      // }
    }
  }

  .rate {
    &__options {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      row-gap: 3.5rem;

      margin-bottom: 1.2rem;
    }

    &__sidenote {
      color: var(--text);
      @include font-family-ptrootui;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.3;
    }

    &__card-animation {
      position: relative;
      height: 100%;

      .rate-card:nth-child(1) {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);

        z-index: 2;
      }
      .rate-card:nth-child(2) {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);

        position: absolute;
        left: 0;
        top: 0;

        z-index: 1;
        display: none;
      }
    }
  }

  &__privacy-policy {
    max-width: 70%;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1.2rem;

    .privacy-policy {
      &__description {
        @include font-family-ptrootui;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.1;
        color: var(--text2);

        text-align: left;
        display: block;

        position: relative;
        $margin-local: calc(2.4rem + 1.2rem);
        margin-left: $margin-local;
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -$margin-local;
        }
      }

      &__link {
        color: var(--link);
        display: inline-block;

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }

  &__checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .checkout__btn {
      margin-bottom: 3rem;

      &--highlighted {
        animation: blink-bg 1.5s infinite ease-in-out;
      }
    }
    .checkout__sidenote {
      @include font-family-ptrootui;
      color: var(--text2);
      font-weight: 400;
      line-height: 1.3;
      font-size: 1.4rem;
    }
  }

  &__title {
    margin-bottom: 9.7rem;
  }

  &__info {
    display: inline-block;

    .rate__wrapper {
      margin-bottom: 2.521rem;
    }

    .promo__privacy-policy {
      margin-bottom: 5rem;
    }

    .promo__checkout {
      .checkout__btn {
        margin-left: 0.3rem;
      }
    }
  }

  @include media-minw($md-custom) {
    .rate__option:nth-child(4n) {
      grid-column: span 3;
      .rate-card {
        @include rate-card--horizontal;
      }
      .react-loading-skeleton {
        min-height: 12.65vh;
        height: 12.65vh;
      }
    }

    .image__effect .react-loading-skeleton {
      min-width: 40rem;
      min-height: 70rem;
    }
  }

  @include media-maxw($md-custom) {
    .image {
      width: 100%;
    }
  }

  @include media-maxw($lg) {
    padding: 2rem !important;

    .promo__title {
      margin-bottom: 0;
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }

    .promo__content {
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }
  }

  @include media-maxw($md-custom) {
    .promo__title {
      text-align: start;
      font-size: 2.4rem;
    }

    .promo__info .rate__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 3.6rem;

      .rate__options {
        row-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);

        .rate__option {
          .rate-card {
            @include rate-card--mobile;
          }
        }
        .rate__option:nth-child(4n),
        .react-loading-skeleton:nth-child(4n) {
          grid-column: initial;
        }
      }
    }

    .promo__privacy-policy {
      margin-bottom: 2.2rem;
      max-width: none;
    }

    .promo__checkout {
      .checkout__btn {
        width: 100%;
        margin-left: 0;
      }

      .checkout__sidenote {
        display: none;
      }
    }

    .rate__sidenote {
      font-size: 1.4rem;
      max-width: 84.78%;
    }

    .image__wrapper {
      width: 60%;
    }

    .image__effect .react-loading-skeleton {
      width: 100%;
      min-height: 40rem;
    }
  }
}

.debug-window {
  position: absolute;
  left: 3%;
  top: 7%;
  z-index: 2;

  background-color: var(--white);
  padding: 1rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  grid-auto-columns: minmax(3rem, 15rem);
  gap: 0.5rem;
}
