@import "src/app/styles/breakpoints";
@import "src/app/styles/fonts/Rubik/mixin";

.promo {
  background-color: var(--background);
  //promo как namespace

  &__title {
    @include font-family-rubik;
    font-size: 4rem;
    line-height: 1.1;
    letter-spacing: calc(1em / 100);

    margin: 0;
  }

  &__wrapper {
  }

  &__buy-btn {
    background-color: var(--primary);
    color: var(--white);
    padding: 2rem 4.2rem;
    border-radius: 3rem;
  }

  &__last-chance {
    &::after {
      content: "горящее предложение";
      position: absolute;
      top: 0;
      left: 4.2rem;

      @media screen and (max-width: $xs) {
        //пока xs, для адатива, понятное дело, будет другая ширина
        left: 0;
      }
    }

    // немного плаваю с этим в BEM
    .last-chance {
      mark {
        color: var(--accent);
      }

      &__intro {
        .last-chance__title mark {
          font-family: "Rubik";
        }
      }
    }
  }
}
