@use "../../styles/breakpointsMixins.scss";

.asteroidsGrid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  li {
    width: 23%;
    margin: 10px;

    @include breakpointsMixins.midLaptop {
      width: 30%;
    }

    @include breakpointsMixins.maxTablet {
      width: 45%;
    }

    @include breakpointsMixins.midPhone {
      width: 90%;
    }
  }
}
