.loginPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 520px;
    padding: 30px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      margin-top: 16px;

      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > * {
        margin-bottom: 16px;
      }

      .fieldsWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .textInput {
          margin-right: 16px;
        }
      }
    }

    button[type="submit"] {
      padding: 0 20px;
    }

    a {
      font-size: 14px;
    }
  }
}
