.scene {
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-weight: 100;
    margin-bottom: 5px;
  }

  &-cards {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      margin: 20px 40px;
    }
  }
}
