@import "src/app/styles/fonts/BebasNeue/mixin";
@import "src/app/styles/fonts/PTRootUI/mixin";

@import "src/app/styles/breakpoints";
@import "src/app/styles/media";

.rate-card,
.react-loading-skeleton {
  width: 100%;
  font-size: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  cursor: pointer;

  // background-color: rgba(var(--white-rgb), 0.05);
  background-color: var(--white);
  border-radius: 2em;
  border: 0.2em solid var(--gray-transparent);
  padding: 4.4em 1.8em 2.6em;

  // transform-style: preserve-3d;
  // -webkit-transform-style: preserve-3d;

  // backface-visibility: hidden;
  // -webkit-backface-visibility: hidden;

  // .backface {
  //   position: absolute;
  //   top: -0.2em;
  //   left: -0.2em;
  //   width: calc(100% + 0.4em);
  //   height: calc(100% + 0.4em);

  //   background-color: var(--white);
  //   // background-color: red;
  //   border-radius: 2em;
  //   border: 0.2em solid var(--gray-transparent);

  // transform: rotateY(180deg);
  // -webkit-transform: rotateY(180deg);

  //   backface-visibility: hidden;
  //   -webkit-backface-visibility: hidden;
  // }

  // &::after {
  //   content: "";
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // width: 100%;
  // height: 100%;

  // background-color: var(--white-rgb) !important;
  // border-radius: 2em;
  // border: 0.2em solid var(--gray-transparent);

  // transform: rotateY(180deg);
  // -webkit-transform: rotateY(180deg);

  //   // transform-style: preserve-3d;
  //   // -webkit-transform-style: preserve-3d;

  // backface-visibility: hidden;
  // -webkit-backface-visibility: hidden;
  // }

  &:hover {
    background-color: rgba(var(--accent-rgb), 0.05);
    border: 0.2em solid var(--accent);
  }

  &--selected {
    background-color: rgba(var(--accent-rgb), 0.05);
    border: 0.2em solid var(--accent);
  }

  .time-n-price {
    display: flex;
    flex-direction: column;
    align-self: center;

    transform: translate(-1%, -1%);
    .time-course {
      transform: translate(-19%, -6%);
    }
  }

  .time-course {
    @include font-family-bebas-cyr;
    font-size: 3em;
    color: var(--text-gray);
    font-weight: 400;
  }

  .price {
    &__wrapper {
      @include font-family-ptrootui;
      align-self: center;
    }

    &__tag {
      font-size: 5em;
      font-weight: 700;
      line-height: 1.1;
      // letter-spacing: -0.02em;
      letter-spacing: -0.04em;
      color: var(--text);
    }

    &__discount {
      font-size: 2.4em;
      font-weight: 500;
      line-height: 1.1;
      color: var(--text-halftone);
      text-decoration: line-through;

      text-align: end;
      line-height: 2.3rem;
    }
    &__discount-badge {
      position: absolute;
      top: 0;
      right: 0.6em;
      transform: translateY(-3em);
    }
  }

  .rate-card__sidenote,
  .rate-card__sidenote--small {
    @include font-family-ptrootui;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.3;
    text-align: center;

    align-self: center;
    max-width: 77%;
  }

  .rate-card__sidenote--small {
    display: none;
  }

  &:has(.rate-card__sidenote--small) {
    @include media-maxw($md-custom) {
      .rate-card__sidenote {
        display: none;
      }
      .rate-card__sidenote--small {
        display: block;
      }
    }
  }

  .time-course {
    margin-bottom: 2rem;
  }

  .price__wrapper {
    margin-bottom: 2rem;

    .price__tag {
      margin-bottom: 2.3rem;
    }

    .price__discount {
      margin-top: -2.3rem;
    }
  }

  .discount-badge {
    .icon {
      display: block; //от кнопки наследуется inline
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}

.react-loading-skeleton {
  border: none;
  background-color: var(--base-color);
  min-height: 25vh;
}

.rate-card--discounted {
  padding: 2.6rem 2.2rem 2rem 2.4rem;
  align-items: flex-start;
  position: relative;

  .time-cource__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .time-cource {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      @include font-family-bebas-cyr;
      font-size: 2.6rem;
      font-weight: 400;
      color: var(--text);
    }

    &__select {
      position: absolute;
      top: 2.6rem;
      right: 2.2rem;
    }
  }

  .prev-price {
    position: relative;

    &__price {
      @include font-family-ptrootui;
      color: var(--text);
      opacity: 0.7;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.1;

      position: relative;

      &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='21' viewBox='0 0 60 21' fill='none'%3E%3Cline x1='0.689324' y1='19.6901' x2='57.7203' y2='1.04948' stroke='%23FD4D35' stroke-width='2'/%3E%3Cline x1='1.31068' y1='1.04949' x2='59.2921' y2='20.0007' stroke='%23FD4D35' stroke-width='2'/%3E%3C/svg%3E");
        overflow: hidden;
        width: 100%;
        height: 2.4rem;
        display: block;

        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .separation-line {
    width: calc(100% - 10.45% - 10.45%);
    border: none;
    height: 0.2rem;
    background-color: var(--separation);
    border-radius: 0.02rem;
    margin: 1.6rem 10.45% 2.4rem;
  }

  .price__wrapper {
    position: relative;
    margin: 0;
    align-self: flex-start;

    .price__tag {
      @include font-family-ptrootui;
      font-weight: 700;
      font-size: 4.6rem;
      line-height: 1.1;

      margin-bottom: 0;
    }

    .discount-badge {
      position: absolute;
      width: 4.5rem;
      height: 4.6rem;
      transform: translateY(0);

      top: -0.9rem;
      right: -4.9rem;

      &__amount {
        font-size: 1.313rem;
      }
    }
  }
}

@mixin rate-card--horizontal {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 3em;

  .time-n-price {
    flex-direction: row;

    .time-course {
      color: var(--text);
      font-size: 3.8em;
      transform: translate(2%, 24%);
    }

    .price__wrapper {
      transform: translate(2.3rem, 0.8rem);
    }
  }

  .discount-badge {
    transform: translateY(-3.3em);
    right: 0.7em;
  }

  .rate-card__sidenote,
  .rate-card__sidenote--small {
    text-align: left;
    max-width: 40%;

    padding-left: 5%;
    padding-top: 2%;
  }
}

@mixin rate-card--mobile {
  width: 100%;
  padding: 3.6rem 2.4rem 2.6rem;
  align-items: flex-start;

  .time-n-price {
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;

    .time-course {
      transform: none;
      margin-bottom: 1rem;
    }

    .price__wrapper {
      position: absolute;
      left: 43.73%;
      top: 50%;
      transform: translate(0%, -25%);
      margin: 0;

      .price__tag {
        font-size: 4.4rem;
        margin-bottom: 0.3rem;
      }

      .price__discount {
        font-size: 2rem;
      }
    }
  }
  &:not(:has(.rate-card__sidenote)) {
    .price__wrapper {
      transform: translate(0%, -50%);
    }
  }

  .discount-badge {
    transform: translateY(0.4em);
    right: 0.9rem;

    width: 4.6rem;
    height: 4.7rem;
  }

  .discount-badge__amount {
    font-size: 1.333rem;
  }

  .rate-card__sidenote,
  .rate-card__sidenote--small {
    align-self: flex-start;
    text-align: start;
    max-width: 41%;
  }
}
