@import "src/app/styles/fonts/BebasNeue/mixin";
@import "src/app/styles/fonts/PTRootUI/mixin";

.rate-card {
  font-size: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  //   align-items: center;
  cursor: pointer;

  background-color: rgba(var(--white-rgb), 0.05);
  border-radius: 2em;
  border: 0.2em solid var(--gray-transparent);
  // padding: 4.5em 1.8em 2.6em;
  padding: 4.4em 1.8em 2.6em;

  &:hover {
    background-color: rgba(var(--accent-rgb), 0.05);
    border: 0.2em solid var(--accent);
  }

  .time-n-price {
    display: flex;
    flex-direction: column;
    align-self: center;

    transform: translate(-1%, -1%);
    .time-course {
      transform: translate(-19%, -6%);
    }
  }

  .time-course {
    @include font-family-bebas-cyr;
    font-size: 3em;
    color: var(--text-gray);
    font-weight: 400;
  }

  .price {
    &__wrapper {
      @include font-family-ptrootui;
      align-self: center;
    }

    &__tag {
      font-size: 5em;
      font-weight: 700;
      line-height: 1.1;
      // letter-spacing: -0.02em;
      letter-spacing: -0.04em;
      color: var(--text);
    }

    &__discount {
      font-size: 2.4em;
      font-weight: 500;
      line-height: 1.1;
      color: var(--text-halftone);
      text-decoration: line-through;

      text-align: end;
      line-height: 2rem;
    }
    &__discount-badge {
      position: absolute;
      top: 0;
      right: 0.5em;
      transform: translateY(-3em);
    }
  }

  .rate-card__sidenote {
    @include font-family-ptrootui;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.3;
    text-align: center;

    align-self: center;
    max-width: 80%;
  }

  .time-course {
    margin-bottom: 2rem;
  }

  .price__wrapper {
    margin-bottom: 2.2rem;
  }

  .discount-badge {
    .icon {
      display: block; //от кнопки наследуется inline
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}
