@use "../../colors.scss";

.popup {
  position: relative;

  &Danger {
    color: red;
  }

  .box {
    z-index: 5;
    position: absolute;
    top: 0%;
    left: 13px;
    background-color: #fff;

    div {
      button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-weight: 700;

        &:hover {
          background-color: colors.$color-background-highlight;
        }
      }
    }
  }
}
