@import "src/app/styles/breakpoints";

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & > * {
    position: relative;
    z-index: 2;
  }

  max-width: 75rem;
  padding: 4rem;

  @media screen and (max-width: $xs) {
    //пока xs, для адатива, понятное дело, будет другая ширина
    padding: 2rem;
  }
}
