@import "styles/breakpoints.scss";
@import "styles/colors.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 55px;
  margin-bottom: 20px;
  flex: 1 !important;

  @media screen and (max-width: $breakpoint-min-phone) {
    margin-top: 59px;
    flex-direction: column;
    background-color: $black;

    padding: 39px 15px 60px;

    width: calc(100% - 15px - 15px);
  }

  .main {
    flex-wrap: wrap;
    margin-bottom: 33px;
    flex-direction: row;
    row-gap: 16px;

    @media screen and (max-width: $breakpoint-min-phone) {
      flex-direction: column;
      margin-bottom: 50px;
      row-gap: 30px;
    }

    .list {
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $dark-gray;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint-min-phone) {
          font-size: 12px;
          margin-top: 0;
          margin-bottom: 19px;
          margin-left: 1px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-flow: column wrap;
        flex-wrap: wrap;
        max-height: 145px;

        row-gap: 10px;
        column-gap: 52px;

        @media screen and (max-width: $breakpoint-min-phone) {
          row-gap: 10px;
          column-gap: 21px;
        }

        li {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;

          @media screen and (max-width: $breakpoint-min-phone) {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }

    .list:nth-child(1) {
      @media screen and (max-width: $breakpoint-min-phone) {
        h3 {
          margin-top: 1px;
          margin-bottom: 18px;
        }
      }
    }

    .list:nth-child(2) {
      flex-shrink: 0;
      flex-grow: 1;
      margin-left: 98px;

      @media screen and (max-width: $breakpoint-min-phone) {
        margin-left: 0px;
      }

      ul {
        @media screen and (max-width: $breakpoint-min-phone) {
          row-gap: 10px;
          column-gap: 23px;
          margin-bottom: 9px;

          li {
            max-width: 43%;
          }
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      flex: 1;

      @media screen and (max-width: $breakpoint-min-phone) {
        align-items: flex-start;
      }

      ul {
        align-items: flex-end;
        row-gap: 20px;

        @media screen and (max-width: $breakpoint-min-phone) {
          align-items: flex-start;
          row-gap: 8px;
        }
      }

      &Links {
        display: flex;

        a:not(:last-child) {
          margin-right: 10px;
        }

        :global(.icon) {
          width: 20px;
        }

        @media screen and (max-width: $breakpoint-min-phone) {
          margin-bottom: 2px;

          :global(.icon) {
            width: 24px;
          }
        }
      }
    }
  }

  .pc {
    @media screen and (min-width: $breakpoint-min-phone) {
      display: flex;
    }
    @media screen and (max-width: $breakpoint-min-phone) {
      display: none;
    }
  }
  .mobile {
    @media screen and (min-width: $breakpoint-min-phone) {
      display: none;
    }
    @media screen and (max-width: $breakpoint-min-phone) {
      display: flex;
    }
  }

  .credentials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: $breakpoint-min-phone) {
      align-items: flex-start;
    }

    & > * {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }

    span {
      margin-bottom: 5px;
    }

    a {
      text-decoration: underline;
    }
  }
}
