@font-face {
  font-family: "PTRootUI Regular";
  src: url("/assets/fonts/PTRootUI/PT-Root-UI_Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PTRootUI Medium";
  src: url("/assets/fonts/PTRootUI/PT-Root-UI_Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PTRootUI Bold";
  src: url("/assets/fonts/PTRootUI/PT-Root-UI_Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
