$breakpoint-max-desktop: 1920px;
$breakpoint-mid-desktop: 1440px;
$breakpoint-min-desktop: 1366px;
$breakpoint-max-tablet: 960px;
$breakpoint-mid-tablet: 700px;
$breakpoint-min-tablet: 600px;
$breakpoint-max-phone: 400px;
$breakpoint-mid-phone: 375px;
$breakpoint-min-phone: 320px;
