table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    td {
      padding: 0.3em;
    }

    tr:not(:first-child) {
      border-top: 1px solid gray;
    }
    td:not(:first-child) {
      border-left: 1px solid gray;
    }

    tr:first-child {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 10px;
        background: linear-gradient(180deg, white, transparent);
      }

      //   &::before {
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     content: "";
      //     width: 10px;
      //     height: 100%;
      //     background: linear-gradient(180deg, white, transparent);
      //   }
    }

    tr:last-child {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 10px;
        background: linear-gradient(0deg, white, transparent);
      }

      //   &::before {
      //     position: absolute;
      //     bottom: 0;
      //     left: 0;
      //     content: "";
      //     width: 10px;
      //     height: 100%;
      //     background: linear-gradient(0deg, white, transparent);
      //   }
    }
  }
}
