.showcase {
  display: flex;
  width: 60%;
  flex-direction: column;
  height: auto;

  .book {
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 1;
    }
  }
}
