@use "../../../styles/breakpointsMixins.scss";

.headerSecondary {
  display: flex;
  margin-bottom: 20px;
  flex: 0 1 auto;
}

.upperHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0 1 auto;

  hr {
    width: 100%;
    margin: 15px 0;
    opacity: 0.5;
  }
}
.titleWrapper {
  display: flex;
}

.iconWrapper {
  display: flex;
  margin-right: 25px;
}

.dateWrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  h2 {
    margin: 0;
  }

  time {
    margin-left: 10px;
  }
}

.withIcon,
.withoutIcon {
  width: 100%;
  height: 100%;
}

.mobileWithIcon {
  display: none;
}

.laptopWithIcon {
  display: flex;
  flex-direction: row;
}

@include breakpointsMixins.midPhone {
  .mobileWithIcon {
    display: flex;
    flex-direction: column;
  }

  .laptopWithIcon {
    display: none;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 40px;

  .metricsSwitch {
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    align-items: center;

    ul {
      display: flex;
      flex-wrap: wrap;

      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 2.5px;

        display: flex;
        align-items: center;

        button {
          padding: 0;
        }
      }
    }
  }

  .hazardousSwitch {
    display: flex;
    align-items: center;

    input {
      margin-right: 5px;
    }
  }
}
