@use "./colors.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-font));

  @each $key, $value in colors.$colors {
    --color-#{$key}: #{red($value), green($value), blue($value)};
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
