// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/_utilities.scss";
// @import "~bootstrap/scss/_carousel.scss";

.homePage {
  .fw-light {
    font-weight: 300;
    font-size: 0.9rem;
  }

  .card {
    .card-body {
      .carousel {
        .carousel-indicators {
          button {
            box-sizing: content-box;
            flex: 0 1 auto;
            width: 30px;
            height: 3px;
            padding: 0;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            cursor: pointer;
            background-color: rgb(0, 0, 0);
            background-clip: padding-box;
            border: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: 0.5;
            transition: opacity 0.6s ease;
          }

          & .active {
            opacity: 1 !important;
          }
        }
        .carousel-inner {
          .carousel-item {
            top: -40px;
          }
        }
      }
    }

    .friendsDisplay {
      .controls {
        & > button:not(:last-child) {
          margin-right: 0.5rem;
        }
      }

      .list-group {
        margin-top: 1rem;

        .list-group-item {
          .friend-info {
            & > * {
              min-width: 15%;
              margin-right: 0.5rem;

              word-break: keep-all;
              line-height: 1.9rem;

              &:not(:last-child) {
                margin-right: 0rem;
              }
            }

            & > *:not(:last-child) {
              margin-right: 0.7rem;
            }
          }
        }

        .btn-outline-secondary:hover {
          color: #212529;
        }
      }

      .search-field {
        form {
          width: 100%;
          input {
            width: 50%;
          }

          & > *:not(:last-child) {
            margin-right: 0.7rem;
          }
        }
      }
    }
  }
}
