@use "../../index.scss";

.search-bar {
  &-wrapper {
    width: 100%;

    background-color: index.$color-main;
    background-image: url(../../resources/background.jpg);
    background-size: cover;

    animation: 30s backgroundAnimation infinite;

    @keyframes backgroundAnimation {
      0% {
        background-position: 50% 0%;
      }
      50% {
        background-position: 50% 100%;
      }
      100% {
        background-position: 50% 0%;
      }
    }
  }

  width: 30%;
  @media screen and (max-width: index.$width-laptop) {
    width: 50%;
  }
  @media screen and (max-width: index.$width-tablet) {
    width: 75%;
  }
  @media screen and (max-width: index.$width-smartphone) {
    width: 90%;
  }

  display: flex;
  flex-direction: column;
  padding: 5em 0;
  margin: 0 auto;

  color: index.$background-default;

  & > * {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-title {
    text-align: center;
  }

  &-request-bar {
    width: 100%;

    display: flex;
    justify-content: center;

    input {
      flex: 1 1;
      min-width: 1em;
      padding: 7px;
    }

    button {
      flex: 0 1;

      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &-dropdown {
    label {
      margin-right: 7px;
    }
    select {
      padding: 7px;
    }
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: index.$width-smartphone) {
      justify-content: center;
    }

    &-wrapper {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media screen and (max-width: index.$width-smartphone) {
        flex-direction: column;
        justify-content: center;
      }

      flex-wrap: wrap;
    }
  }
}
